{% extends 'index.html' %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block title %} Dodaj wynik {% endblock %}

{% block content %}


    <form method="post" enctype="multipart/form-data">
    <div class="col-3">

      {% csrf_token %}


        <div class="form-group">
        <label for="label">Zwycięzca</label>
        {% render_field form.winner class+="form-select form-select-lg mb-3" %}
        <span class="text-danger">{{ form.winner.errors|striptags }}</span>
        </div>

        <div class="form-group">
        <label for="label">Zwycięzca sety</label>
        {% render_field form.winner_sets class+="form-select form-select-lg mb-3" %}
        <span class="text-danger">{{ form.winner_sets.errors|striptags }}</span>
        </div>

        <div class="form-group">
        <label for="label">Przegrany sety</label>
        {% render_field form.lost_sets class+="form-select form-select-lg mb-3" %}
        <span class="text-danger">{{ form.lost_sets.errors|striptags }}</span>
        </div>

        <div class="form-group">
        <label for="label">Przegrany</label>
        {% render_field form.lost class+="form-select form-select-lg mb-3" %}
        <span class="text-danger">{{ form.lost.errors|striptags }}</span>
        </div>

        <div class="form-group">
        <label for="label">Data pojedynku</label>
        {% render_field form.duel_date class+="form-control mb-3" %}
        <span class="text-danger">{{ form.duel_date.errors|striptags }}</span>
        </div>


    </div>

    <br>
        <button type="submit" class="btn btn-outline-success btn-lg" >Dodaj wynik </button>

{% endblock %}


{{form.winner|bootstrap}}
{{form.winner_sets|bootstrap}}
{{form.lost_sets|bootstrap}}
{{form.lost|bootstrap}}
{{form.duel_date|bootstrap}}




