{% extends 'index.html' %}
{% load bootstrap %}

{% block title %} Historia wyników {% endblock %}

{% block content %}
<div class="scrollable">
    <table class="table">        
        <thead>
            <td>Wynik</td>
            <td>Data</td>
        </thead>

        <tbody>
            {% for mecz in form %}        
            <tr>
                <td> {{ mecz }} </td>
                <td> {{ mecz.duel_date }} </td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>
{% endblock %}